{% extends "base.html" %}

{% block title %}AI Health Diagnostic Chatbot{% endblock %}

{% block content %}
    <div class="main-screen"> 
        <section class="hero">
            <h1 class="hero-message">
                AI Health Diagnostic Chatbot
            </h1>
            <p class="under-hero">
                Your personal health assistant. Get preliminary diagnoses, recommendations, and doctor consultations all in one place.
            </p>
            <div class="button-list">
                <a href="{{ url_for('login') }}" class="primary">Login</a>
                <a href="{{ url_for('signin') }}" class="signup">Sign Up</a>
            </div>
        </section>
        <picture class="promo-art">
            <img src="{{ url_for('static', filename='images/health-ai-image.jpg') }}" alt="AI Image">
        </picture>
    </div>
{% endblock %}
