{% extends "base.html" %}

{% block title %}View Appointments - Health Guard{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewbookings.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Your Booked Appointments</h1>

        {% if appointments %}
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Doctor</th>
                        <th>Specialization</th>
                        <th>Hospital</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment[0] }}</td>
                            <td>{{ appointment[1] }}</td>
                            <td>{{ appointment[2] }}</td>
                            <td>{{ appointment[3] }}</td>
                            <td>{{ appointment[4] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p style="text-align: center; margin-top: 20px; font-size: 1.2em; color: var(--gray-7);">No appointments booked yet.</p>
        {% endif %}
    </div>
{% endblock %}
